<!DOCTYPE html>
<html>
  <head>
      <title>Note App</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body {{#if dark}}class="dark"{{/if}}>
    {{{body}}}
  </body>
</html>
