<!DOCTYPE html>
<html>
  <head>
      <title>Note App</title>
      <meta name="viewport" content="width=device-with, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body {{#isButtonOn activeButtons 'darkStyle'}}class="dark"{{/isButtonOn}}>
    {{{body}}}
  </body>
</html>
