body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button, input[type=submit], input[type=reset] {
  background: white;
  font-size: 1em;
  padding: 10px 32px;
}

#newNote {
  float: left;
  width: 85%;
}

#changeStyle {
  float: right;
}

.dark {
  background: black;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.inputLine {
  display: flex;
  flex-direction: row;
}

.inputLine > label {
  width: 100px;
  font-weight: bold;
  text-align: end;
}

.inputLine > input {
  width: 160px;
  flex-grow: 1;
}